.profile-container {
    /* background-color: #f9f9f9; */
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.navbar-button {
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

/* h2 {
    color: #333;
    margin-bottom: 10px;
} */

label {
    display: block;
    margin: 10px 0;
    color: var(--text-primary);
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.error {
    color: #d9534f;
}

.success {
    color: #5cb85c;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.delete-button:hover {
    background-color: #ff1a1a;
}