.request-patients-container {
    position: relative;
    display: inline-block;
}

.request-patients-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.request-patients-btn:hover {
    background-color: #45a049;
}

.request-patients-tooltip {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position the tooltip above the button */
    left: 50%;
    margin-left: -150px;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.request-patients-container:hover .request-patients-tooltip {
    visibility: visible;
    opacity: 1;
}